upstream usa-games {
    server unix:/var/www/usa-games/shared/usa-games.sock;
}

server {
    listen 80;
    server_name usa-games{{ inventory_file | regex_replace('^.*\/','') | regex_replace('production','') | regex_replace('staging','-staging') | regex_replace('development','-development') }}.maromaro0013.com;

    root /var/www/usa-games/current;

    try_files $uri/index.html $uri @usa-games;

    location / {
        proxy_pass http://usa-games;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header Host $http_host;
        proxy_redirect off;
    }

    error_page 500 502 503 504 /500.html;
    client_max_body_size 4G;
    keepalive_timeout 10;
}
